body {
    background-color:dimgray;
}

button {
    width: 80px;
    border: solid;
    border-width: 2px;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    font-weight:bold;
}

#top {
    width: 540px;
    display: flex;
    justify-content:space-evenly;
    margin: 24px auto;
}

#container {
    background-color: white;
    width: 540px;
    height: 540px;
    border-style: solid;
    border-width: 2px;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex: 1;
}

.grid {
    flex: 1;
    border-style: solid;
    border-width: 1px;
}